.body
{
    background-color: #E6E9F2;
}
.img
{
    height: 200px;
    width: 220px;
    padding-top: 10px;
    margin: auto;
    padding-right: 30px;
}
.prod
{
    background-color: white;
   border-radius: 15px;
   margin:15px;
   box-shadow: gray;
   &:hover {
    box-shadow: 5px 5px 5px 5px grey;
}
   //margin-right: 0px;
}
.title
{
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    padding-right: 30px;

}
.seller
{
    font-size: 15px;
    font-weight: 700;
    float: left;
}
.price{
    display: inline;
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
    color:#878787;
    float: left;
}
.disc{
    color: green;
    font-weight: 600;
    margin: auto;
    text-align: center;
    float: left;
}
.tableee
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 50px;
    margin-left: 50px; 
    
}

li{
    list-style-type:none;
    margin-right: 0px;
    margin: auto;
}
.discount
{
    background-color: #ff9800;
    font-weight: 700;
    text-decoration:none;
    color: white;
    padding:0px 5px;
    margin:5px;
    border-radius: 25px 25px;
}